## This is Task 1

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,target
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
df.describe()

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         30725 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education.num     32561 non-null int64
marital.status    32561 non-null object
occupation        30718 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital.gain      32561 non-null int64
capital.loss      32561 non-null int64
hours.per.week    32561 non-null int64
native.country    31978 non-null object
target            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [6]:
import numpy as np

In [7]:
df.shape

(32561, 15)

In [8]:
test = pd.read_csv('test.csv')

In [9]:
test.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,target
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
4,18,NaN,103497,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,<=50K.

In [10]:
df.shape

(32561, 15)

In [11]:
test.shape

(16281, 15)

In [12]:
train = df

In [13]:
train.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,target
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [14]:
train.shape[0] - train.dropna().shape[0]

2399

In [15]:
test.shape[0] - test.dropna().shape[0]

1221

In [16]:
train.isnull().sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week       0
native.country     583
target               0
dtype: int64

In [17]:
train.workclass.value_counts()

 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64

In [18]:
train.occupation.value_counts()

 Prof-specialty       4140
 Craft-repair         4099
 Exec-managerial      4066
 Adm-clerical         3770
 Sales                3650
 Other-service        3295
 Machine-op-inspct    2002
 Transport-moving     1597
 Handlers-cleaners    1370
 Farming-fishing       994
 Tech-support          928
 Protective-serv       649
 Priv-house-serv       149
 Armed-Forces            9
Name: occupation, dtype: int64

In [19]:
train['native.country'].value_counts()

 United-States                 29170
 Mexico                          643
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 France                           29
 Greece                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Trinadad&Tobago                  19
 Cambodia                         19
 Thailand                         18
 Laos                             18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Honduras                         13
 Hungary                          13
 Scotland                         12
 Holand-Netherlands                1
Name: native.country, dtype: int64

In [20]:
train.workclass.fillna('Private',inplace=True)

In [21]:
train.occupation.fillna('Prof-specialty',inplace=True)

In [22]:
train['native.country'].fillna('United-States',inplace=True)

In [23]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education.num     32561 non-null int64
marital.status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital.gain      32561 non-null int64
capital.loss      32561 non-null int64
hours.per.week    32561 non-null int64
native.country    32561 non-null object
target            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [24]:
train.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
target            0
dtype: int64

In [25]:
from sklearn.neighbors import KNeighborsClassifier

In [26]:
knn = KNeighborsClassifier(n_neighbors = 5)

In [27]:
from sklearn.preprocessing import LabelEncoder

In [28]:
pd.crosstab(train.education, train.target, margins = True)/train.shape[0]

target            <=50K      >50K       All
education
 10th          0.026750  0.001904  0.028654
 11th          0.034243  0.001843  0.036086
 12th          0.012285  0.001013  0.013298
 1st-4th       0.004975  0.000184  0.005160
 5th-6th       0.009736  0.000491  0.010227
 7th-8th       0.018611  0.001228  0.019840
 9th           0.014957  0.000829  0.015786
 Assoc-acdm    0.024631  0.008139  0.032769
 Assoc-voc     0.031357  0.011087  0.042443
 Bachelors     0.096250  0.068210  0.164461
 Doctorate     0.003286  0.009398  0.012684
 HS-grad       0.271060  0.051442  0.322502
 Masters       0.023464  0.029452  0.052916
 Preschool     0.001566  0.000000  0.001566
 Prof-school   0.004699  0.012991  0.017690
 Some-college  0.181321  0.042597  0.223918
All            0.759190  0.240810  1.000000

In [29]:
for x in train.columns:
    if train[x].dtype == 'object':
        lbl = LabelEncoder()
        lbl.fit(list(train[x].values))
        train[x] = lbl.transform(list(train[x].values))
        print(lbl.classes_)

[' Federal-gov' ' Local-gov' ' Never-worked' ' Private' ' Self-emp-inc'
 ' Self-emp-not-inc' ' State-gov' ' Without-pay' 'Private']
[' 10th' ' 11th' ' 12th' ' 1st-4th' ' 5th-6th' ' 7th-8th' ' 9th'
 ' Assoc-acdm' ' Assoc-voc' ' Bachelors' ' Doctorate' ' HS-grad' ' Masters'
 ' Preschool' ' Prof-school' ' Some-college']
[' Divorced' ' Married-AF-spouse' ' Married-civ-spouse'
 ' Married-spouse-absent' ' Never-married' ' Separated' ' Widowed']
[' Adm-clerical' ' Armed-Forces' ' Craft-repair' ' Exec-managerial'
 ' Farming-fishing' ' Handlers-cleaners' ' Machine-op-inspct'
 ' Other-service' ' Priv-house-serv' ' Prof-specialty' ' Protective-serv'
 ' Sales' ' Tech-support' ' Transport-moving' 'Prof-specialty']
[' Husband' ' Not-in-family' ' Other-relative' ' Own-child' ' Unmarried'
 ' Wife']
[' Amer-Indian-Eskimo' ' Asian-Pac-Islander' ' Black' ' Other' ' White']
[' Female' ' Male']
[' Cambodia' ' Canada' ' China' ' Columbia' ' Cuba' ' Dominican-Republic'
 ' Ecuador' ' El-Salvador' ' England' ' France' ' Germany' ' Greece'
 ' Guatemala' ' Haiti' ' Holand-Netherlands' ' Honduras' ' Hong' ' Hungary'
 ' India' ' Iran' ' Ireland' ' Italy' ' Jamaica' ' Japan' ' Laos' ' Mexico'
 ' Nicaragua' ' Outlying-US(Guam-USVI-etc)' ' Peru' ' Philippines'
 ' Poland' ' Portugal' ' Puerto-Rico' ' Scotland' ' South' ' Taiwan'
 ' Thailand' ' Trinadad&Tobago' ' United-States' ' Vietnam' ' Yugoslavia'
 'United-States']
[' <=50K' ' >50K']

In [30]:
train.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,target
0,39,6,77516,9,13,4,0,1,4,1,2174,0,40,38,0
1,50,5,83311,9,13,2,3,0,4,1,0,0,13,38,0
2,38,3,215646,11,9,0,5,1,4,1,0,0,40,38,0
3,53,3,234721,1,7,2,5,0,2,1,0,0,40,38,0
4,28,3,338409,9,13,2,9,5,2,0,0,0,40,4,0

In [31]:
train.sex.value_counts()

1    21790
0    10771
Name: sex, dtype: int64

In [32]:
y= train['target']

In [33]:
del train['target']

In [34]:
X = train

In [35]:
X

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country
0,39,6,77516,9,13,4,0,1,4,1,2174,0,40,38
1,50,5,83311,9,13,2,3,0,4,1,0,0,13,38
2,38,3,215646,11,9,0,5,1,4,1,0,0,40,38
3,53,3,234721,1,7,2,5,0,2,1,0,0,40,38
4,28,3,338409,9,13,2,9,5,2,0,0,0,40,4
5,37,3,284582,12,14,2,3,5,4,0,0,0,40,38
6,49,3,160187,6,5,3,7,1,2,0,0,0,16,22
7,52,5,209642,11,9,2,3,0,4,1,0,0,45,38
8,31,3,45781,12,14,4,9,1,4,0,14084,0,50,38
9,42,3,159449,9,13,2,3,0,4,1,5178,0,40,38
10,37,3,280464,15,10,2,3,0,2,1,0,0,80,38
11,30,6,141297,9,13,2,9,0,1,1,0,0,40,18
12,23,3,122272,9,13,4,0,3,4,0,0,0,30,38
13,32,3,205019,7,12,4,11,1,2,1,0,0,50,38
14,40,3,121772,8,11,2,2,0,1,1,0,0,40,41
15,34,3,245487,5,4,2,13,0,0,1,0,0,45,25
16,25,5,176756,11,9,4,4,3,4,1,0,0,35,38
17,32,3,186824,11,9,4,6,4,4,1,0,0,40,38
18,38,3,28887,1,7,2,11,0,4,1,0,0,50,38
19,43,5,292175,12,14,0,3,4,4,0,0,0,45,38
20,40,3,193524,10,16,2,9,0,4,1,0,0,60,38
21,54,3,302146,11,9,5,7,4,2,0,0,0,20,38
22,35,0,76845,6,5,2,4,0,2,1,0,0,40,38
23,43,3,117037,1,7,2,13,0,4,1,0,2042,40,38
24,59,3,109015,11,9,0,12,4,4,0,0,0,40,38
25,56,1,216851,9,13,2,12,0,4,1,0,0,40,38
26,19,3,168294,11,9,4,2,3,4,1,0,0,40,38
27,54,8,180211,15,10,2,14,0,1,1,0,0,60,34
28,39,3,367260,11,9,0,3,1,4,1,0,0,80,38
29,49,3,193366,11,9,2,2,0,4,1,0,0,40,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,8,33811,9,13,4,14,1,1,0,0,0,99,38
32532,34,3,204461,10,16,2,9,0,4,1,0,0,60,38
32533,54,3,337992,9,13,2,3,0,1,1,0,0,50,23
32534,37,3,179137,15,10,0,0,4,4,0,0,0,39,38
32535,22,3,325033,2,8,4,10,3,2,1,0,0,35,38
32536,34,3,160216,9,13,4,3,1,4,0,0,0,55,38
32537,30,3,345898,11,9,4,2,1,2,1,0,0,46,38
32538,38,3,139180,9,13,0,9,4,2,0,15020,0,45,38
32539,71,8,287372,10,16,2,14,0,4,1,0,0,10,38
32540,45,6,252208,11,9,5,0,3,4,0,0,0,40,38
32541,41,8,202822,11,9,5,14,1,2,0,0,0,32,38
32542,72,8,129912,11,9,2,14,0,4,1,0,0,25,38
32543,45,1,119199,7,12,0,9,4,4,0,0,0,48,38
32544,31,3,199655,12,14,0,7,1,3,0,0,0,30,38
32545,39,1,111499,7,12,2,0,5,4,0,0,0,20,38
32546,37,3,198216,7,12,0,12,1,4,0,0,0,40,38
32547,43,3,260761,11,9,2,6,0,4,1,0,0,40,25
32548,65,5,99359,14,15,4,9,1,4,1,1086,0,60,38
32549,43,6,255835,15,10,0,0,2,4,0,0,0,40,38
32550,43,5,27242,15,10,2,2,0,4,1,0,0,50,38
32551,32,3,34066,0,6,2,5,0,0,1,0,0,40,38
32552,43,3,84661,8,11,2,11,0,4,1,0,0,45,38
32553,32,3,116138,12,14,4,12,1,1,1,0,0,11,35
32554,53,3,321865,12,14,2,3,0,4,1,0,0,40,38
32555,22,3,310152,15,10,4,10,1,4,1,0,0,40,38
32556,27,3,257302,7,12,2,12,5,4,0,0,0,38,38
32557,40,3,154374,11,9,2,6,0,4,1,0,0,40,38
32558,58,3,151910,11,9,6,0,4,4,0,0,0,40,38
32559,22,3,201490,11,9,4,0,3,4,1,0,0,20,38
32560,52,4,287927,11,9,2,3,5,4,0,15024,0,40,38

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3, random_state = 42)

In [38]:
X_train

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country
19749,34,5,56460,11,9,2,4,5,4,0,0,2179,12,38
1216,48,5,243631,15,10,2,2,0,0,1,7688,0,40,38
27962,23,6,56402,15,10,2,9,0,4,1,0,0,30,38
23077,56,1,255406,11,9,0,3,1,4,0,0,0,40,38
10180,17,3,297246,1,7,4,8,3,4,0,0,0,9,38
12681,34,3,152453,2,8,2,2,0,4,1,0,0,40,12
31752,37,3,140673,15,10,2,11,5,4,0,0,0,40,38
17581,49,5,162856,15,10,0,3,1,0,0,0,0,40,38
31033,55,3,132887,11,9,2,13,0,2,1,3411,0,40,22
9144,25,3,131463,9,13,2,9,0,4,1,0,0,40,38
26971,38,3,255621,11,9,2,7,0,4,1,0,0,40,38
4907,37,3,38468,15,10,4,0,1,4,0,0,0,40,38
13308,45,3,88500,15,10,2,6,0,4,1,0,0,44,38
14737,51,1,26832,11,9,2,2,0,4,1,0,0,40,38
13857,47,3,52795,15,10,2,6,0,4,1,0,0,46,38
5116,34,3,314646,6,5,2,2,0,4,1,0,0,40,38
16664,27,1,322208,15,10,4,13,3,4,1,0,0,40,38
25043,45,3,140644,11,9,2,6,0,4,1,0,0,40,38
8648,21,3,73679,15,10,4,3,3,4,0,0,0,40,38
10755,23,3,85088,15,10,4,7,3,4,0,0,0,37,38
30845,46,3,133616,15,10,0,0,4,4,0,0,0,40,38
30070,22,3,192455,11,9,4,0,4,4,0,0,0,40,38
21612,31,3,173350,11,9,4,7,1,4,0,0,0,30,38
31901,33,3,199046,9,13,4,11,1,4,0,0,0,40,38
23995,55,5,322691,12,14,2,11,0,4,1,3103,0,55,38
31300,24,3,278130,7,12,4,0,1,4,1,0,0,40,38
2215,33,3,127215,15,10,2,11,0,4,1,0,0,48,38
12980,43,3,269015,11,9,2,6,0,2,1,0,0,40,10
19408,46,3,251786,3,2,5,7,1,4,0,0,0,40,25
16293,18,3,115839,2,8,4,0,1,4,0,0,0,30,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5051,52,3,99185,11,9,2,11,0,4,1,7298,0,50,38
5311,36,5,177907,10,16,4,9,1,4,1,0,0,40,38
2433,42,6,293791,9,13,2,3,0,4,1,0,0,50,38
23333,17,8,48751,1,7,4,14,3,2,0,0,0,40,38
32157,45,5,49595,15,10,2,3,0,4,1,0,0,80,38
30187,33,3,126223,11,9,5,6,4,2,0,0,0,40,38
26967,49,4,101722,14,15,2,9,0,4,1,0,0,60,38
769,32,3,188557,11,9,4,6,1,4,1,0,0,40,38
32052,51,4,260938,15,10,2,3,0,4,1,0,0,50,38
1685,37,3,188540,11,9,2,3,0,4,1,0,1902,45,38
8322,20,8,124954,15,10,4,14,3,4,1,0,0,30,38
16023,33,3,206280,11,9,4,0,1,2,1,0,0,40,38
27495,54,3,291755,9,13,2,3,0,4,1,0,0,45,38
11363,32,3,209808,15,10,2,11,0,4,1,0,1740,47,38
28020,66,8,175891,6,5,2,14,0,4,1,0,0,40,38
14423,29,3,107160,11,9,4,7,1,4,1,0,0,40,38
21962,34,3,62374,11,9,4,2,1,4,1,0,0,48,38
4426,29,3,120986,11,9,2,13,0,0,1,0,0,65,38
29910,38,0,65706,15,10,0,3,4,4,0,0,0,38,38
16850,28,3,65171,15,10,2,0,0,4,1,0,0,40,38
6265,63,5,391121,5,4,2,4,0,4,1,0,0,30,38
22118,23,3,204641,0,6,4,5,4,4,1,0,0,50,38
11284,35,3,200117,9,13,2,3,0,1,1,0,1887,50,41
11964,58,4,329793,9,13,2,3,0,4,1,0,0,45,38
21575,39,3,219155,11,9,2,6,0,4,1,0,0,43,38
29802,47,3,359461,9,13,2,2,0,4,1,0,0,40,38
5390,31,3,147215,2,8,0,7,4,4,0,0,0,21,38
860,18,3,216284,1,7,4,0,3,4,0,0,0,20,38
15795,50,5,54261,11,9,2,4,0,4,1,0,0,84,38
23654,34,4,127651,9,13,0,4,1,4,1,0,0,60,38

In [39]:
y_train

19749    0
1216     1
27962    0
23077    0
10180    0
12681    0
31752    1
17581    0
31033    0
9144     0
26971    0
4907     0
13308    1
14737    1
13857    0
5116     0
16664    0
25043    0
8648     0
10755    0
30845    0
30070    0
21612    0
31901    0
23995    1
31300    0
2215     1
12980    1
19408    0
16293    0
        ..
5051     1
5311     1
2433     1
23333    0
32157    0
30187    0
26967    1
769      0
32052    1
1685     1
8322     0
16023    0
27495    1
11363    0
28020    0
14423    0
21962    0
4426     0
29910    0
16850    0
6265     0
22118    0
11284    1
11964    1
21575    0
29802    0
5390     0
860      0
15795    0
23654    0
Name: target, dtype: int64

In [40]:
knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [41]:
prediction = knn.predict(X_test)

In [42]:
knn.score(X_test,y_test)

0.77899477940423789

In [43]:
from sklearn.tree import DecisionTreeClassifier

In [44]:
dt = DecisionTreeClassifier()

In [45]:
dt.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [46]:
dt.score(X_test,y_test)

0.81379875115160205

In [47]:
from sklearn.svm import SVC

In [48]:
from sklearn.model_selection import GridSearchCV

In [49]:
param_grid = {'n_neighbors':np.arange(1,50)}

In [50]:
cvv = GridSearchCV(knn, param_grid, cv = 5)

In [51]:
cvv.fit(X_train,y_train)

GridSearchCV(cv=5, error_score='raise',
       estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform'),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'n_neighbors': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring=None, verbose=0)

In [52]:
cvv.best_params_

{'n_neighbors': 21}

In [53]:
cvv.best_score_

0.79633204633204635

In [54]:
from sklearn.linear_model import LogisticRegression

In [55]:
lr = LogisticRegression()

In [56]:
lr.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [58]:
lr.score(X_test,y_test)

0.80315283038182006